# Imports

In [167]:
using CSV
using DataFrames
using Statistics
using Dates

# Cleaning the data

## Eliminating double comas ",," after wrong column
Changing them to ","

In [181]:
# Preparar paths
path = "dataSets/damCombustible.csv"
cleaned_path = "dataSets/damCombustible_cleaned.csv"

# Corregir cada linea del CSV
function fix_csv_line(line::String)
    parts = split(line, ",")
    horometro_index = 3
    
    if length(parts) > horometro_index + 1 && !isempty(parts[horometro_index + 1])
        while length(parts) > horometro_index + 2 && parts[horometro_index + 2] == ""
            parts = vcat(parts[1:horometro_index + 1], parts[horometro_index + 3:end])
        end
    end

    return join(parts, ",")
end
        

function correct_csv_file(input_path::String, output_path::String)
    csv_lines = readlines(input_path)

    fixed_lines = [fix_csv_line(line) for line in csv_lines]

    open(output_path, "w") do file
        for line in fixed_lines
            println(file, line)
        end
    end
end

correct_csv_file(path, cleaned_path)

df = CSV.read(cleaned_path, DataFrame)
describe(df)

12×7 DataFrame
 Row │ variable           mean       min                    median    max      ⋯
     │ Symbol             Union…     Any                    Union…    Any      ⋯
─────┼──────────────────────────────────────────────────────────────────────────
   1 │ Nro.               320.709    2                      322.5     638      ⋯
   2 │ Vehículo           105.566    101                    105.0     110
   3 │ Odómetro           8.12749e5  436624                 1.0034e6  1142707
   4 │ Horómetro          40.0       4                      33.0      86
   5 │ Fecha                         01/abr./2024 12:39:00            31/may./ ⋯
   6 │ Tanqueo Full                  N                                S
   7 │ Costo por Volumen             23,24                            26,97
   8 │ Cant.                         100                              99,13
   9 │ Unidad                        Litros                           Litros   ⋯
  10 │ Costo Total                   1000,45                          9999
  11 │ Tipo                          DIESEL                           DIESEL
  12 │ Column12
                                                               3 columns omitted

## Changing columns data-type to correct data-type
Fecha = DateTime

Tanqueo Full = Bool

Costo por Volumen = Float32

Cantidad = Float32

Costo Total = Float32

In [182]:
propertynames(df)

12-element Vector{Symbol}:
 Symbol("Nro.")
 :Vehículo
 :Odómetro
 :Horómetro
 :Fecha
 Symbol("Tanqueo Full")
 Symbol("Costo por Volumen")
 Symbol("Cant.")
 :Unidad
 Symbol("Costo Total")
 :Tipo
 :Column12

In [183]:
# Rename columns
rename!(df, Symbol("Nro.") => :Numero,
    :Vehículo => :Vehiculo, :Odómetro => :Odometro,
    :Horómetro => :Horometro,
    Symbol("Tanqueo Full") => :Tanque_Lleno,
    Symbol("Costo por Volumen") => :Costo_Por_Volumen,
    Symbol("Cant.") => :Cantidad,
    Symbol("Costo Total") => :Costo_Total)

# Drop useless Columns
select!(df, Not(:Column12, :Horometro, :Unidad, :Tipo))

propertynames(df)

8-element Vector{Symbol}:
 :Numero
 :Vehiculo
 :Odometro
 :Fecha
 :Tanque_Lleno
 :Costo_Por_Volumen
 :Cantidad
 :Costo_Total

In [184]:
# Convert S and N to 1 and 0 respectively
df.Tanque_Lleno = df.Tanque_Lleno .== "S"

#---------------------------------------------------------------

# Date convertion 
# Change spanish name to english
function replaceMonths(date)
    months = Dict(
        "ene." => "01", "feb." => "02", "mar." => "03", "abr." => "04",
        "may." => "05", "jun." => "06", "jul." => "07", "ago." => "08",
        "sep." => "09", "oct." => "10", "nov." => "11", "dic." => "12"
    )

    for (mes, month) in months
        if occursin(mes, date)
            return replace(date, mes => month)
        end
    end

    return date
end

df.Fecha = replaceMonths.(df.Fecha)

df.Fecha = Dates.DateTime.(df.Fecha, "dd/mm/yyyy HH:MM:SS")

#---------------------------------------------------------------

# Columns to convert with commas
columns_with_commas_to_convert = [:Costo_Por_Volumen, :Cantidad, :Costo_Total]

# Replace columns with dots and to float
for col in columns_with_commas_to_convert
    df[!, col] = replace.(df[!, col], "," => ".")
    df[!, col] = parse.(Float32, df[!, col])
end

In [185]:
describe(df)

8×7 DataFrame
 Row │ variable           mean       min                  median               ⋯
     │ Symbol             Union…     Any                  Any                  ⋯
─────┼──────────────────────────────────────────────────────────────────────────
   1 │ Numero             320.709    2                    322.5                ⋯
   2 │ Vehiculo           105.566    101                  105.0
   3 │ Odometro           8.12749e5  436624               1.0034e6
   4 │ Fecha                         2024-04-01T12:39:00  2024-05-31T16:37:16
   5 │ Tanque_Lleno       0.800633   false                1.0                  ⋯
   6 │ Costo_Por_Volumen  25.2959    23.24                25.29
   7 │ Cantidad           160.645    13.0                 120.025
   8 │ Costo_Total        4058.61    329.0                3055.5
                                                               3 columns omitted

In [186]:
size(df)

(632, 8)

# Separating training and test data

In [187]:
# 80% for training
train_ratio = 0.8
n_training = round(Int, train_ratio * nrow(df))

506

In [188]:
trainData = df[1:n_training, :]
testData = df[n_training+1:end, :]

126×8 DataFrame
 Row │ Numero  Vehiculo  Odometro  Fecha                Tanque_Lleno  Costo_Po ⋯
     │ Int64   Int64     Int64     DateTime             Bool          Float32  ⋯
─────┼──────────────────────────────────────────────────────────────────────────
   1 │    128       103    755893  2024-04-27T05:44:42          true           ⋯
   2 │    125       110    566806  2024-04-26T22:57:42          true
   3 │    126       104   1011058  2024-04-26T22:56:34          true
   4 │    124       110    566806  2024-04-26T22:46:09          true
   5 │    123       106    440125  2024-04-26T19:01:03          true           ⋯
   6 │    122       104   1010506  2024-04-26T10:28:05          true
   7 │    127       103    755473  2024-04-26T02:35:00          true
   8 │    121       107   1090039  2024-04-26T02:17:16          true
   9 │    120       104   1010282  2024-04-25T23:50:15          true           ⋯
  10 │    119       106    439718  2024-04-25T22:26:07          true
  11 │    117       109    538484  2024-04-25T15:50:17          true
  ⋮  │   ⋮        ⋮         ⋮               ⋮                ⋮                 ⋱
 117 │     17       104   1005471  2024-04-03T19:40:00          true
 118 │     24       108   1122699  2024-04-03T15:13:00          true           ⋯
 119 │     13       102   1001762  2024-04-03T15:04:00          true
 120 │     31       109    531081  2024-04-03T14:31:00          true
 121 │     30       109    531081  2024-04-03T14:25:00          true
 122 │      2       107   1084985  2024-04-03T09:40:00         false           ⋯
 123 │     29       109    530263  2024-04-02T18:51:00          true
 124 │     28       109    530263  2024-04-02T18:44:00          true
 125 │     36       110    558302  2024-04-01T12:44:00          true
 126 │     35       110    558302  2024-04-01T12:39:00          true           ⋯
                                                  3 columns and 105 rows omitted

In [189]:
size(trainData)

(506, 8)

In [190]:
size(testData)

(126, 8)

### Averiguar si revolverlos sirve o no 
# Mezclar los índices aleatoriamente
indices = shuffle(1:nrow(df))

# Calcular el número de muestras para el conjunto de entrenamiento
n_training = round(Int, train_ratio * nrow(df))

# Separar los índices en entrenamiento y prueba
train_indices = indices[1:n_training]
test_indices = indices[n_training+1:end]

# Crear los DataFrames de entrenamiento y prueba
train_df = df[train_indices, :]
test_df = df[test_indices, :]

# Función de regresión lineal

## Hipótesis

In [195]:
# hyp
theta = [1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0]
bias = [1.0]

function hyp(X::Matrix{Float64}, theta::Vector{Float64})::Vector{Float64}
    return X * theta
end

hyp (generic function with 1 method)

In [192]:
describe(df)

8×7 DataFrame
 Row │ variable           mean       min                  median               ⋯
     │ Symbol             Union…     Any                  Any                  ⋯
─────┼──────────────────────────────────────────────────────────────────────────
   1 │ Numero             320.709    2                    322.5                ⋯
   2 │ Vehiculo           105.566    101                  105.0
   3 │ Odometro           8.12749e5  436624               1.0034e6
   4 │ Fecha                         2024-04-01T12:39:00  2024-05-31T16:37:16
   5 │ Tanque_Lleno       0.800633   false                1.0                  ⋯
   6 │ Costo_Por_Volumen  25.2959    23.24                25.29
   7 │ Cantidad           160.645    13.0                 120.025
   8 │ Costo_Total        4058.61    329.0                3055.5
                                                               3 columns omitted